@import url('https://fonts.googleapis.com/css?family=Mirza|Ravi+Prakash|Roboto');

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #F8F8F8;
}

#header {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
#header h1 {
    font-family: 'Ravi Prakash', cursive;
    font-size: 60px;
    color: #14BDAC;

}
#choices {
    margin-top: 10px;
    margin-bottom: 20px;
}


input[type="text"] {
    padding: 20px;
    height: 35px;
    width: 190px;
    font-family: sans-serif;
    font-size: 18px;
    appearance: none;
    border: solid 1px #707070;
    transition: box-shadow 0.3s, border 0.3s;
}

input[type="text"]:focus {
    outline: none;
    border: none;
    border-bottom: solid 3px #14BDAC;
    box-shadow: 0 0 5px 1px #969696;
}

#feedback-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

    font-family: 'Roboto', sans-serif;
}

#feedback {
    text-align: center;
    font-size: 18px;
    /*text-transform: uppercase;*/
}

table  {
    table-layout: fixed !important;

}

#table-div {
    padding: 20px;
    min-width: 400px;
    max-width: 600px;
    margin: 0px auto;
}



#app {
    background-color: #14BDAC;
    width: 65%;
    margin: 0 auto;
    height: 300px;
    /*table-layout: fixed !important;*/
}

#app tr td {
    height: 85px !important;
    border: 4px solid #0DA192;
    padding: 0 !important;
    padding-top: 20px !important;

}

.cell {
    font-size: 40px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    line-height: 85px;
    vertical-align: center;
    font-weight: 900;
}
/* make cursor as pointer on hover, focus and active states */
.cell:hover, .cell:focus, .cell:active {
    cursor: pointer;
}

.wrapper {
    padding: 20px;
    min-height: 100% !important;
    margin: 0 auto -50px !important;
    padding-top: 0;
    min-width: 320px;
}

/*
footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    margin: 20px auto;
}
*/

.footer,
.push {
    height: 50px;
}

.footer {
    /*background-color: black;*/
    margin-top: 10px;
    position: relative;
}

/*footer p {
    font-family: 'Mirza', cursive;
    text-align: center;
}*/

.footer span {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    font-family: 'Mirza', cursive;
    color: #0DA192;
    font-weight: bold;
    font-size: 16px;

}

.button-holder {
    min-width: 200px;
    max-width: 370px;
    margin: 10px auto;
}

.btn, .btn-custom {
    color: white;
    background-color: #0DA192;
    font-family: 'Roboto', sans-serif !important;
    font-size: 17px;
}

.clicked {
    background-color: #0DA192;
    outline: 0;
}
.btn-custom:hover {
    color: white;
    background-color: red !important;
    outline: 0;
}

.btn-custom:active, .btn-custom:focus {
    color: white;
    background-color: #0DA192;
    outline: 0;
}
.input-holder {
    display: inline-block;
}

.score {
    position: absolute;
    top: -2px;
    right: 20px;
}


/* styles for second button - below */
.button-holder button {
    display: inline-block;
    width: 45%;
}

#reset {
    margin-top: 0;
    margin-left: 33px;
}

#restart:hover {
    background-color: green !important;
}

button span {
    margin-right: 10px;
    margin-top: 2px;
    position: absolute;
}

/* styles for player choice buttons */
#xInp, #oInp {
    width: 150px;
    position: relative;

}



/*Media Queries for responsiveness*/

/* small sizes-ultraxs */
@media screen and (max-width: 508px) {
    .ultra-xs {
        display: block;
        width: 100%;
        margin: 10px auto !important;
        text-align: center;
    }

    .input-holder {
        margin: 0 auto;
    }


}

/* reduce margin on the left for large sizes 1200px-1400px */
@media screen and (min-width: 1200px) and (max-width: 1300px) {
  #ex {
    margin-left: 350px;
  }

  #zero {
    margin-left: 170px;
  }
}

@media screen and (min-width: 768px) and (max-width: 875px) {
    #ex {
        margin-left: 150px;
    }

    #zero {
        margin-left: 90px;
    }

}

/* fix for bottom two buttons misalignment on <425px */

@media screen and (max-width: 425px){
    .button-holder button {
        display: block;
        margin: 20px auto;
        width: 170px;
    }

    #reset {
        margin: 10px auto;
    }

    #table-div table {
        margin-left: 40px;
        /*margin-right: 0;*/
    }
}

@media screen and (max-width: 370px){

    #table-div table {
        margin-left: 10px;
        margin-right: 0;
    }
}